@page "/"
@using SigmaEmu.Assembler.Assembler
@using SigmaEmu.Shared
@using SigmaEmu.Core.Models

<div class="d-flex flex-column w-100 h-100">
    <Toolbar OnOpen="LoadFile" OnAssemble="AssembleSource" OnLoad="LoadListing"/>
    <div class="d-flex flex-row flex-grow-1 flex-shrink-1 overflow-auto">
        @if (_listing != null)
        {
            <ListingDisplay Listing="_listing" ProgramCounter="_processor.ProgramCounter"/>
        }
        else
        {
            <SourceDisplay Source="_source" LoadFileEvent="LoadFile"/>
        }
        <ProcessorStatus Processor="_processor" OnPcEdited="StateHasChanged" OnPlay="_processor.Play"
                         OnStep="_processor.Step" OnReset="_processor.Reset" OnPause="_processor.Pause"
                         OnStop="_processor.Stop"/>
    </div>
</div>


@code {

    private Source? _source;
    private Listing? _listing;

    private readonly Processor _processor = new();

    protected override void OnInitialized()
    {
        _processor.OnTick += StateHasChanged;
    }

    private void Reset()
    {
        _processor.Reset();
    }

    private async void LoadFile(IBrowserFile file)
    {
        var fileStream = file.OpenReadStream();
        _source = await Assembler.ParseAsync(fileStream);
        _listing = null;
        StateHasChanged();
    }

    private void AssembleSource()
    {
        if (_source is null || _source.HasErrors()) return;
        _listing = Assembler.Assemble(_source);
        Reset();
    }

    private void LoadListing()
    {
        if (_listing == null || _listing.HasErrors()) return;
        _processor.LoadListing(_listing);
        _processor.Ready();
    }

}