@page "/"
@using SigmaEmu.Assembler.Assembler
@using SigmaEmu.Core.Models
@using SigmaEmu.Shared

<div class="d-flex flex-column w-100 h-100">
    <Toolbar OnAssemble="AssembleSource" OnLoad="LoadListing" />
    <div class="d-flex flex-row flex-grow-1 flex-shrink-1 overflow-auto">
        @if (_listing != null)
        {
            <ListingDisplay Listing="_listing" ProgramCounter="_processor.ProgramCounter" />
        }
        else
        {
            <SourceDisplay Source="_source" LoadFileEvent="LoadFile" />
        }
        <ProcessorStatus Processor="_processor" OnStep="_processor.Step" />
    </div>
</div>



@code {

    private Source? _source;
    private Listing? _listing;

    private readonly Processor _processor = new Processor();

    private async void LoadFile(IBrowserFile file)
    {
        _source = await Source.FromFileAsync(file);
        StateHasChanged();
    }

    private void AssembleSource()
    {
        if (_source == null) return;
        _listing = Assembler.Assemble(_source.ToString());
    }

    private void LoadListing()
    {
        if (_listing == null) return;
        _processor.LoadListing(_listing);
        _processor.Ready();
    }
    
}