<div class="bg-grey-main text-text-lighter p-3 d-inline-block rounded-2 flex-grow-0">
    <p>No file currently open. Please select a file</p>
    <InputFile OnChange="@LoadFileAsync" />
</div>

@code {

    [Parameter]
    public EventCallback<IBrowserFile> ProcessFile { get; set; }
    private async Task LoadFileAsync(InputFileChangeEventArgs e)
    {
        await ProcessFile.InvokeAsync(e.File);
    }

}