<InputFile OnChange="@LoadFileAsync" id="fileinput" class="d-none"/>
<label role="button" for="fileinput" @attributes="UnmatchedAttributes">
    @ChildContent
</label>


@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? UnmatchedAttributes { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback<IBrowserFile> ProcessFile { get; set; }

    private async Task LoadFileAsync(InputFileChangeEventArgs e)
    {
        await ProcessFile.InvokeAsync(e.File);
    }

}