<div class="bg-grey-main text-text-lighter p-3 d-inline-block rounded-2 flex-grow-0">
    <p>No file currently open. Please select a file</p>
    <InputFile OnChange="@LoadFile" />
</div>

@code {

    [Parameter]
    public EventCallback<IBrowserFile> ProcessFile { get; set; }
    // public Func<IBrowserFile, Task>? ProcessFile { get; set; }
    private void LoadFile(InputFileChangeEventArgs e)
    {
        ProcessFile.InvokeAsync(e.File);
    }

}