@using SigmaEmu.Models

<div class="w-100 h-100 bg-grey-main text-white p-2">
    @if (Listing == null)
    {
        <p>No Listing provided</p>
    }
    else if (Listing.Errors.Count != 0)
    {
        @foreach (var error in Listing.Errors)
        {
            <pre class="text-danger">@error.Format()</pre>
        }
    }
    else
    {
        @foreach (var line in Listing.Lines)
        {
            <pre class="m-0">@line.Format().Replace('\n', ' ')</pre>
        }
    }
</div>

@code {
    [Parameter, EditorRequired]
    public Listing? Listing { get; set; }
}