@using SigmaEmu.Core.Models
<div class="bg-grey-darker h-100 flex-shrink-0 d-flex flex-column border-start border-2 border-dark p-3 overflow-auto">
    @if (Processor is null)
    {
        <p>No Processor given</p>
    }
    else
    {
        <h3>Control &#x2022 @Processor.ProcessorState</h3>
        <div class="w-100 d-flex flex-row justify-content-around gap-4 align-items-center bg-grey-darkest rounded-2 p-2">
            <SvgButton OnClick="OnPlay" Enabled="Processor.ProcessorState != ProcessorRunningState.Stopped"
                       Active="Processor.ProcessorState == ProcessorRunningState.Playing">
                <Icons.Play Height="30px"/>
            </SvgButton>
            <SvgButton OnClick="OnPause" Enabled="Processor.ProcessorState != ProcessorRunningState.Stopped"
                       Active="Processor.ProcessorState == ProcessorRunningState.Paused">
                <Icons.Pause Height="30px"/>
            </SvgButton>
            <SvgButton OnClick="OnStop" Enabled="Processor.ProcessorState != ProcessorRunningState.Stopped"
                       Active="Processor.ProcessorState == ProcessorRunningState.Stopped">
                <Icons.Stop Height="30px"/>
            </SvgButton>
            <div class="border-start border-2 border-text-main " style="height: 80%"></div>
            <SvgButton OnClick="OnStep" Enabled="Processor.ProcessorState != ProcessorRunningState.Stopped">
                <Icons.Step Height="30px"/>
            </SvgButton>
            <SvgButton OnClick="OnReset" Enabled="true">
                <Icons.Reload Height="30px"/>
            </SvgButton>
        </div>

        <h3 class="mt-4">Registers</h3>
        <RegisterDisplay Processor="Processor" OnPcEdited="OnPcEdited"/>

        <h3 class="mt-4">Memory</h3>
        <div class="d-flex flex-row overflow-auto"
             style="min-height: 225px">
            <MemoryDisplay Memory="Processor.Memory"/>
            <div class="p-2"></div>
            <MemoryDisplay Memory="Processor.Memory"/>
        </div>
    }
</div>

@code {

    [Parameter]
    [EditorRequired]
    public Processor? Processor { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback OnStep { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback OnReset { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback OnPlay { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback OnPause { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback OnStop { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback<WordStore> OnPcEdited { get; set; }

}