@using SigmaEmu.Core.Models

@if (RegisterFile is null)
{
    <p>No Register File given</p>
}
else
{
    <div class="bg-grey-darkest rounded-2 p-2 text-text-lighter d-flex flex-row justify-content-between gap-3">
        @for (var i = 0; i < Processor.MaxRegisters; i += 4)
        {
            <div class="">
                @for (var j = i; j < i + 4 && j < Processor.MaxRegisters; j++)
                {
                    <RegisterDisplayRow Label="@($"R{j}")" Register="RegisterFile[j]" />
                }
            </div>
        }
    </div>
}


@code {
    [Parameter, EditorRequired]
    public Register[]? RegisterFile { get; set; }
}