@using SigmaEmu.Core.Models


@if (Register is null)
{
    <p>Null Register given</p>
}
else
{
    <div class="d-flex flex-row gap-2">
        <span class="flex-grow-1">@Label</span>
        <span>@Register.Value.AsHexString()</span>
    </div>
}


@code {

    [Parameter, EditorRequired]
    public string Label { get; set; } = "Missing label";

    [Parameter, EditorRequired]
    public Register? Register { get; set; }

}