@using SigmaEmu.Core.Models
@if (Register is null)
{
    <p>Null Register given</p>
}
else
{
    <div class="d-flex flex-row gap-2 align-items-center">
        <span class="flex-grow-1">@Label</span>
        <WordStoreDisplay WordStore="Register"/>
    </div>
}


@code {

    [Parameter]
    [EditorRequired]
    public string Label { get; set; } = "Missing label";

    [Parameter]
    [EditorRequired]
    public Register? Register { get; set; }

}