@using SigmaEmu.Core.Models
@if (Processor == null)
{
    <p>Processor not given</p>
}
else
{
    <div class="bg-grey-darkest rounded-2 p-2 text-text-lighter d-flex flex-column gap-2">
        <RegisterDisplayRow Label="pc" Register="Processor.ProgramCounter" OnRegisterEdited="OnPcEdited"/>
        <RegisterDisplayRow Label="ir" Register="Processor.InstructionRegister"/>
        <RegisterDisplayRow Label="addr" Register="Processor.AddressRegister"/>
        <RegisterDisplayRow Label="data" Register="Processor.DataRegister"/>
    </div>
    <div class="m-2"></div>
    <RegisterFileDisplay RegisterFile="Processor.RegisterFile"/>
}


@code {

    [Parameter]
    [EditorRequired]
    public Processor? Processor { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback<WordStore> OnPcEdited { get; set; }

}