@using SigmaEmu.Core.Models

@if (_source == null)
{
    <div class="w-100 h-100 bg-grey-darkest d-flex justify-content-around align-items-center">
        <FileUpload ProcessFile="LoadFile" />
    </div>
}
else
{
    <div class="w-100 h-100 bg-grey-main text-white p-2">
        @foreach (var line in _source.Lines)
        {
            <pre class="m-0">@line</pre>
        }
    </div>
}

@code {
    private Source? _source;

    private async void LoadFile(IBrowserFile file)
    {
        _source = await Source.FromFileAsync(file);
    }
}