@using SigmaEmu.Core.Models
<div class="bg-grey-darker h-100 flex-shrink-0 d-flex flex-column border-start border-2 border-dark p-3">
    @ChildContent
</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
}