@using SigmaEmu.Shared
@if (Source == null)
{
    <div class="w-100 h-100 bg-grey-darkest d-flex justify-content-around align-items-center">
        <FileUpload ProcessFile="LoadFileEvent"/>
    </div>
}
else
{
    <div class="w-100 h-100 bg-grey-main text-white p-2 d-flex flex-column overflow-auto font-monospace" style="white-space: pre">
        @for (var i = 1; i <= Source.Lines.Length; i++)
        {
            var line = Source.Lines[i - 1];
            <div class="d-flex flex-row gap-2">
                <span class="col-1">@i</span>
                <span class="col">@line</span>
            </div>
            @foreach (var error in line.Errors)
            {
                <span class="text-text-write">@error.Format()</span>
            }
        }
    </div>
}

@code {

    [Parameter]
    [EditorRequired]
    public Source? Source { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback<IBrowserFile> LoadFileEvent { get; set; }

}