@using SigmaEmu.Assembler.Assembler
@if (Source == null)
{
    <div class="w-100 h-100 bg-grey-darkest d-flex justify-content-around align-items-center">
        <div class="bg-grey-main text-text-lighter p-3 d-inline-block rounded-2 flex-grow-0">
            <p>No file currently open. Please select a file</p>
            <div class="d-flex flex-row justify-content-center w-100 ">
                <FileUpload ProcessFile="LoadFileEvent">
                    <div class="bg-grey-lighter border border-2 border-dark rounded-2 px-4">
                        Browse
                    </div>
                </FileUpload>
            </div>
        </div>
    </div>
}
else
{
    <div class="w-100 h-100 bg-grey-main text-white p-2 d-flex flex-column overflow-auto font-monospace" style="white-space: pre">
        @for (var lineNumber = 1; lineNumber <= Source.NumLines; lineNumber++)
        {
            var line = Source.GetLine(lineNumber);
            <div class="d-flex flex-row gap-2">
                <span class="col-1">@lineNumber</span>
                <span class="col">@line</span>
            </div>
            @foreach (var error in line.Errors)
            {
                <span class="text-text-write">@error.Format()</span>
            }
        }
    </div>
}

@code {

    [Parameter]
    [EditorRequired]
    public Source? Source { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback<IBrowserFile> LoadFileEvent { get; set; }

}